.section__reward__coins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  min-height: 350px;
  padding: 20px 40px;
}

.box__reward__coins {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 280px;
  flex-wrap: wrap;
}

.box__img__coin img {
  width: 90px;
  height: 90px;
}

.box__text__reward__coins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  color: rgb(161, 161, 161);
  max-width: 300px;
}

.text__reward__coins {
  font-size: 26px;
  font-weight: 400;
}

.highlight-number {
  color: rgba(0, 255, 255, 0.744);
  font-weight: bold;
}

.btn__reward__coins {
  display: flex;
  align-items: center;
  background: transparent;
  width: fit-content;
  margin-top: 20px;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #E8B15B;
  transition: 0.3s;
  border: none;
  gap: 5px;
  cursor: pointer;
}

.btn__reward__coins:hover {
  background: #E8B15B;
  color: #000;
}

.box__banner__img {
  flex: 1;
  min-width: 280px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.inner__banner__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Responsivo */
@media (max-width: 768px) {
  .section__reward__coins {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .box__reward__coins {
    flex-direction: column;
    align-items: center;
  }

  .box__text__reward__coins {
    margin-left: 0;
    align-items: center;
  }
}
