.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__background__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
  overflow: hidden;
}

.inner__background__img__game__selected {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.5);
  z-index: 1;
}
.section__header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.558);
  color: aliceblue;
  height: 100px;
  padding-top: 15px;
  padding-left: 40px;
  z-index: 2;
}
.box__logo{
  height: 60px;
  width: 100px;
  object-fit: cover;
}
.inner__logo{
  height: 100%;
  width: 100%;
}
.box__btns{
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.inner__btn{
  height: 60px;
  width: 170px;
  background: transparent;
  border-radius: 8px;
  border: 2px solid #E8B15B;
  font-weight: 600;
  color: #E8B15B;
  font-size: 16px;
  margin-left: 5px;
  transition: 0.5s;
}
.btn__active{
  background: #E8B15B;
  color: #000000b2;
  transition: 0.5s;
}

.section__featured__games{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  top: 115px;
  padding-left: 40px;
  z-index: 2;
}
.box__games {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  align-items: center;
}
.game-card {
  position: relative;
  width: 330px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}
.game-card:hover {
  transform: scale(1.03);
  border: 2px solid #E8B15B;
  transition: 0.5s;
  color: #E8B15B;
}
.game-card--active {
  transform: scale(1.03);
  border: 2px solid #E8B15B;
  margin-left: 100px;
  transition: 0.5s;
  color: #E8B15B;
}
.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.5); /* máscara escura */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  transition: 0.5s;
}
.game-title {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 10px;
  justify-content: flex-end;
  transition: 0.5s;
}
.game-title:hover {
  color: #E8B15B;
  transition: 0.5s;
}
.game-title--active{
  color: #E8B15B;
  transition: 0.5s;
}


.box__info__games__selected{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.name__game{
  width: 332px;
  color: #f6f6f6;
  font-size: 24px;
}
.box__label__game{
  display: flex;
  align-items: center;
  width: 332px;
  color: #f6f6f6;
}
.inner__img__label__game{
  height: 13px;
  width: 13px;
}
.text__label__game{
  font-size: 12px;
  margin-left: 5px;
  font-weight: 500;
}
.box__btn__play__game{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 332px;
  margin-top: 25px;
  font-weight: 500px;
  color: #f6f6f6;
}
.text__add__to__favorites{
  font-size: 10px;
  margin-right: 5px;
}
.icon__IoIosHeartEmpty{
  margin-right: 20px;
}
.icon__IoPlay{
  font-size: 20px;
  margin-left: 10px;
}

.section__most__played__games{
  margin-top: 90px;
  overflow: hidden;

}.background__wrapper {
  position: absolute;
  width: 100%;
  height: 350px;
}

.img__background {
  position: absolute;
  height: 350px;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.background__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Altere o valor para mais ou menos escuro */
  z-index: -1;
}
.header__most__played__games{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  margin-top: 10px;
}
.tittle__most__payed__games{
  color: #f6f6f6;
}
.box__see__more{
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding-right: 20px;
  color: gray;
}
.text__see__more{
  font-size: 12px;
}
.box__most__payed__games{
  height: 320px;
  width: 320px;
}
.img__cover__game{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container__most__played__games{
  display: flex;
  padding: 10px;
  width: 100%;
  padding-left: 40px;
  overflow: hidden;
}
.card__most__payed__game{
  height: 300px;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
}


.section__reward__coins{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  padding: 40px 0px 40px 40px;
}
.box__reward__coins{
  display: flex;
}
.btn__reward__coins{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 145px;
  text-align: left;
  margin-top: 25px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #E8B15B;
  transition: 0.5s;
  border: none;
}
.btn__reward__coins:hover{
  width: 150px;
  background: #E8B15B;
  color: #000;
  transition: 0.5s;
}
.box__text__reward__coins{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: rgb(161, 161, 161);
}
.highlight-number {
  color:rgba(0, 255, 255, 0.744);
  font-weight: bold;
}
.text__reward__coins{
  font-size: 28px;
  font-weight: 400;
}
.box__banner__img{
  height: 300px;
  background-color: #f6f6f6;
  border-radius: 8px;
  overflow: hidden;
}
.inner__banner__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}